<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>更多</title>
    <link rel="stylesheet" href="/element-ui/index.css" />
    <link rel="stylesheet" href="/css/more.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div id="app" v-clock>
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        style="text-align: center;"
      >
        <el-menu-item index="0" style="width: 25%;"
          ><i class="el-icon-message-solid"></i>公告</el-menu-item
        >
        <el-menu-item index="1" style="width: 25%;"
          ><i class="el-icon-s-home"></i>首页</el-menu-item
        >
        <el-menu-item index="2" style="width: 25%;"
          ><i class="el-icon-circle-plus"></i>记录</el-menu-item
        >
        <el-menu-item index="3" style="width: 25%;"
          ><i class="el-icon-s-tools"></i>更多</el-menu-item
        >
      </el-menu>

      <div :style="showInfo">
        <div class="more">
          <el-button
            type="primary"
            style="width: 90%; margin-left: 5%; margin-top: 50%;"
            @click="userInfoPage"
            >个人信息</el-button
          >
        </div>
        <div class="more">
          <el-button
            type="danger"
            style="width: 90%; margin-left: 5%; margin-top: 10%;"
            @click="logout"
            >退出登录</el-button
          >
        </div>
      </div>
      <div :style="infoDetails">
        <el-card class="info-card">
          <div slot="header" class="clearfix">
            <span>个人信息</span>
          </div>
          <div>
            <el-form
              ref="msg"
              :model="msg"
              labelPosition="right"
              class="info"
              label-width="80px"
            >
              <el-form-item label="身份:">{{msg.identify}}</el-form-item>
              <el-form-item label="工号:">{{msg.id}} </el-form-item>
              <el-form-item label="姓名:">{{msg.name}} </el-form-item>
              <el-form-item label="性别:">{{msg.gender}} </el-form-item>
              <el-form-item label="电话:">
                <el-input
                  placeholder="请输入新的手机号"
                  v-model="msg.phone"
                  :disabled="disable"
                  ><el-button type="primary" slot="append" @click="change()"
                    >修改手机号</el-button
                  ></el-input
                >
              </el-form-item>
              <el-form-item label="公司:">{{msg.school}} </el-form-item>
              <el-form-item label="职务:">{{msg.profession}} </el-form-item>
              <el-form-item label="密码：">
                <el-input
                  placeholder="请输入密码"
                  v-model="msg.password"
                  show-password
                  :disabled="disable"
                  ><el-button type="primary" slot="append" @click="change()"
                    >修改密码</el-button
                  ></el-input
                >
              </el-form-item>
              <el-form-item style="margin-top: 30px;">
                <el-button @click="clear">取消</el-button>
                <el-button type="primary" @click="submit" style="float: right;"
                  >保存</el-button
                >
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </div>
    </div>

    <script src="/js/vue.min.js"></script>
    <script src="/element-ui/index.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/route.js"></script>
    <script src="/js/more.js"></script>
  </body>
</html>
